@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --font-pretendard:
        "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
        "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

    --bg-default: #ffffff;
    --bg-paper: #f5f5f5;

    --text-primary: #111827;
    --text-secondary: #6b7280;
    --text-disabled: #9ca3af;

    --divider-main: #bfc1c4;
    --divider-hover: #9da0a5;
}

.dark {
    --bg-default: #202020;
    --bg-paper: #292929;

    --text-primary: #f3f4f6;
    --text-secondary: #9ca3af;
    --text-disabled: #6b7280;

    --divider-main: #374151;
    --divider-hover: #4b5563;
}

@theme {
    --color-background-default: var(--bg-default);
    --color-background-paper: var(--bg-paper);

    --color-text-primary: var(--text-primary);
    --color-text-secondary: var(--text-secondary);
    --color-text-disabled: var(--text-disabled);

    --color-divider-main: var(--divider-main);
    --color-divider-hover: var(--divider-hover);

    --color-primary-light: #ffb82e;
    --color-primary-main: #e08d00;
    --color-primary-dark: #b36b00;
    --color-primary-contrast: #FFFFFF;

    --color-secondary-light: #e1bee7;
    --color-secondary-main: #ab47bc;
    --color-secondary-dark: #8e24aa;
    --color-secondary-contrast: #ffffff;

    --color-error-light: #ff8a80;
    --color-error-main: #ff5252;
    --color-error-dark: #d32f2f;
    --color-error-contrast: #ffffff;

    --color-warning-light: #ffd180;
    --color-warning-main: #ffab40;
    --color-warning-dark: #ff9100;
    --color-warning-contrast: #ffffff;

    --color-info-light: #81d4fa;
    --color-info-main: #29b6f6;
    --color-info-dark: #039be5;
    --color-info-contrast: #ffffff;

    --color-success-light: #a5d6a7;
    --color-success-main: #66bb6a;
    --color-success-dark: #43a047;
    --color-success-contrast: #ffffff;

    --animate-hex-fill: hex-fill 4s infinite ease-in-out;

    @keyframes hex-fill {
        0% { opacity: 0.1; transform: scale(0.95); }
        25% { opacity: 1; transform: scale(1); }
        50% { opacity: 1; transform: scale(1); }
        75% { opacity: 0.1; transform: scale(0.95); }
        100% { opacity: 0.1; transform: scale(0.95); }
    }
}

@layer base {
    body {
        font-family: var(--font-pretendard), serif;
        @apply bg-background-default text-text-primary transition-colors duration-300;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}